[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
docker-compose = "*"
isort = "*"
pylint = "*"
tox = "*"
ipython = "*"
parso = "*"
bumpversion = "*"
pre-commit = "*"

[packages]


[scripts]
update = "pre-commit autoupdate"

[requires]
python_version = "3.8.0"
